body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 45vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
}

h3 {
    color: #03224c;
    text-align:left;

}

h4 {
    color: #03224c;
    text-align:left;
}

p {
    color: dimgrey;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alignup {
    vertical-align: bottom;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 20px;
}
