body {
    padding-top: 4px;
    font-family: Roboto;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 6px;
    }
  }

.carousel-item {
  min-height: auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
}

h3 {
    color: #03224c;
    text-align:left;

}

h4 {
    color: #03224c;
    text-align:left;
}

p {
    color: dimgrey;
    font-family: Roboto;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alignup {
    vertical-align: bottom;
}

.bottom-left {
    position: absolute;
    bottom: 1px;
    left: 20px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.pre {
    white-space: pre-wrap;    
}
